{% extends 'teachers/base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'teachers/css/editComplaint.css' %}">
<script src="{% static 'teachers/js/addComplaint.js' %}" defer></script>
{% endblock head %}
{% block main %}
{% if msgPresent %}
<div class="sideNote">
    <h3>{{msg}}</h3>
</div>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Student Details</legend>
        <label for="adminNo">AdminNo:
            <input type="number" name="adminNo" id="adminNo" value="{{adminNo}}" disabled>
        </label>
        <label for="stdName">Student Name:
            <input type="text" name="stdName" id="stdName" value="{{stdName}}" disabled>
        </label>
        <label for="stdClass">Student Class:
            <input type="text" name="stdClass" id="stdClass" value="{{stdClass}}" disabled>
        </label>
        <label for="stdSec">Student Sec:
            <input type="text" name="stdSec" id="stdSec" value="{{stdSec}}" disabled>
        </label>
    </fieldset>
    <button type="submit">Get Details</button>
    <fieldset>
        <legend>Complaint</legend>
        <label for="complaint">Complaint:
            <textarea name="complaint" id="complaint" cols="30" rows="5"></textarea>
        </label>
        <label for="complaintLevel">Comlpaint Level (1-5):
            <input type="number" min=1 max=5 name="complaintLevel" id="complaintLevel" value="1" >
        </label>
        <label for="complaintLevel">Comlpaint Status:
            <select name="complaintStatus" id="complaintStatus">
                <option value="opened">Opened</option>
                <option value="investigating">Investigating</option>
                <option value="informed">Informed</option>
                <option value="pusnishment">Punishment</option>
            </select>
        </label>
    </fieldset>
    <button type="submit">Submit</button>
</form>
{% endblock main %}