{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'authority/css/index.css' %}">
{% endblock head %}
{% block nav %}
<ul>
    <li><a href="/authority/viewstudent/">View Student</a></li>
    <li><a href="/authority/addStudent/">Add Student</a></li>
    <li><a href="/authority/updateStudent/">Update Student Details</a></li>
    <li><a href="/authority/addcomplaint/">Add complaint</a></li>
    <li><a href="/authority/viewcomplaint/">View complaint</a></li>
    <li><a href="/authority/editcomplaint/">Edit complaint</a></li>
</ul>
{% endblock nav %}
