{% extends 'authority/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'authority/css/viewstudent.css' %}">
{% endblock head %}

{% block main %}
{% if msgPresent %}
<h1 id="msg">{{msg}}</h1>
{% endif %}
{% if stdFound %}
<h1 id="studentName">Student Name: {{stdName}}</h1>
<div class="studentDetails">
    <p id="stdClass" class="stdDetails">Student standard: {{stdStd}}</p>
    <p id="stdSection" class="stdDetails">Student standard: {{stdSec}}</p>
    <p id="stdDob" class="stdDetails">Student DateOfBirth: {{stdDob}}</p>
    <p id="stdAddress" class="stdDetails">Student Address: {{stdAddress}}</p>
    <p id="stdJoiningDate" class="stdDetails">Student Joining Date: {{stdJoiningDate}}</p>
    <h3 id="stdBehaviorScore" class="stdDetails ">Student Behavior Score: <span id="behaviorScore" class="{{behaviorClass}}">{{stdBehaviorScore}}</span></h3>
    {% if behaviorNoticePresent %}
    <div class="behaviorNotice">
        <h2>BehaviorNotices:-</h2>
        <table>
            <thead>
                <tr>
                    <th>Sl. No.</th>
                    <th>Date Issued</th>
                    <th>Further Notified</th>
                </tr>
            </thead>
            <tbody>
                {% for bNotice in behaviorNotices %}
                <tr onclick="window.location.href='/authority/editbehaviornotice/?behaviorNoticeId={{bNotice.id}}'">
                    <td>{{forloop.counter}}</td>
                    <td>{{bNotice.date}}</td>
                    <td>{{bNotice.furtherNotified}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock main %}