main {
    padding: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    font-family: baloo2;
    font-size: 1.75rem;
    max-width: 90%;
}


form label {
    display: flex;
    align-items: center;
    align-content: center;
    margin: .5rem 0rem;
    font-size: 2rem;
}

form label input,
form label select,
form label textarea {
    font-family: comfortaa;
    font-size: 1.75rem;
    margin-left: 1rem;
    outline: none;
    border: none;
    background-color: var(--tirtiaryC);
    padding: .5rem 1rem;
    border-radius: 1rem;
}

form label textarea {
    resize: none;
}

form button{
    outline: none;
    border: none;
    background-color: var(--otherC);
    padding: .75rem .75rem;
    border-radius: 1rem;
    font-family: comfortaa;
    font-size: 1.75rem;
    margin-left: 1rem;
    display: block;
    width: max-content;
    color: var(--secondaryC);
    margin-top: 1rem;
}


fieldset{
    padding: 1rem;
    border-radius: 1rem;
    width: max-content;
    margin: 1rem 0rem ;
    display: flex;
    flex-direction: column;
}

#directViewStudentForm fieldset{
    flex-direction: row !important;
    align-items: center;
    align-content: center;
}

#directViewStudentForm button{
    margin: 0rem 1rem;
}


table{
    table-layout: auto;
    width: 75%;
}

th{
    font-family: comfortaa;
    padding: .5rem;
    font-size: 2rem;
}

td{
    font-family: baloo2;
    text-align: center;
    font-size: 1.75rem;
}
